@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241, 245, 241);
}

a i {
    font-size: 26px; /* 调整图标大小 */
    color:#e2e8f0 ;
    margin-right: 10px; /* 调整图标之间的间距 */
  }

  .about-background {
    background-color: #cbd5e130
  }
  
  .transparent-element {
    pointer-events: none; /* 透明元素不会拦截点击事件 */
  }

  button, div, a {
    touch-action: manipulation; /* 减少延迟 */
    -webkit-tap-highlight-color: transparent; /* 去掉点击时的高亮 */
    transition: transform 200ms;
  }


button:active{
    transform: scale(1.05); /* Scale the button to 105% of its original size when active */
}